<div class="container mt-3">
  <h3>All Ideas</h3>
  <% @ideas.each do |idea| %>
    <div>
      <h5><i class="fa fa-plus-circle"></i><i class="fa fa-minus-circle hide"></i>
          <%= link_to idea.title, idea_path(idea) %></h5>
      <p class="hide"><%= idea.description %></p>
      <hr>

    </div>
  <% end %>

</div>
